<!-- <ul>
  <li class="text" *ngFor="let chat of chats | async">
    {{ chat.message }}
  </li>
</ul> -->
<div class="container main-container">
  <div class="row">
    <h1>
      Firechat
      <button type="submit" class="btn btn-outline-danger" *ngIf="chatService.user.uid"
              (click)="chatService.logout()">
        Salir
      </button>
    </h1>
    <hr>
  </div>
  <app-login *ngIf="!chatService.user.uid"></app-login>

  <div  *ngIf="chatService.user.uid">
    <app-chat></app-chat>
  </div>
</div>